<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Summarization</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>


    <div class="upload-container">
        <h2 class="upload-title">Upload Your Audio File</h2>
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="audio_file" class="upload-input" accept="audio/wav/mp3">
            <br>
            <button type="submit" class="upload-button">Summarize Audio</button>
        </form>
    </div>


</body>
</html>